{{#each @categories as |category|}}
  {{this.whitespace}}{{category.name}}<br>

  {{#each category.repos as |repo|}}
    {{this.whitespace}}<button type="button" {{on "click" (fn @clickHandler repo)}}>{{repo.title}}</button><br>

    
    <MenuItems @docTree={{leaf.value}} @level={{this.nextLevel}} @clickHandler={{@clickHandler}}/>
  {{/each}}

{{/each}}