
<h1>{{@model.title}}</h1>
<PowerSelect
    @selected={{this.revisionRepoTag}}
    @options={{@model.revisions}}
    @searchField="repoTag"
    @onChange={{this.selectRevision}} as |name|>
    {{name}}
</PowerSelect>
<PowerSelect
    @selected={{this.section}}
    @options={{this.revision.sections}}
    @onChange={{this.selectSection}} as |name|>
    {{name}}
</PowerSelect>
<blockquote>{{@model.description}}</blockquote>

<hr>
<a href="{{this.revision.imageUrl}}">Image</a>
<a href="{{this.revision.repoUrl}}">Repository</a>

<hr>

<zero-md class="zero-md">
    <script type="text/markdown">{{get this.revision this.section}}</script>
</zero-md>