<h1>{{@model.title}}</h1>
<PowerSelect
    @selected={{this.revision}}
    @options={{@model.revisions}}
    @onChange={{action selectRevision}} as |name|>
    {{name}}
</PowerSelect>
<blockquote>{{@model.description}}</blockquote>

<hr>
<a href="{{this.revision.imageUrl}}">Image</a>
<a href="{{this.revision.repoUrl}}">Repository</a>

<hr>

<zero-md>
    <script type="text/markdown">
        {{this.revision.readme}}
    </script>
</zero-md>