<main class="sw-docs">
    <h1 class="sr-only">Documentation</h1>
    {{#each (array "mobile" "desktop") as |class|}}

    <aside id="select-repo" class={{class}}>
        <h2 class="sr-only">Categories</h2>
        <!--<MenuItems @docTree={{model}} @level={{0}}/>-->
        {{#each @model as |category|}}
            <fieldset class="category">
                <legend>
                    <h3 {{on "click" (fn this.displayCategory category.name)}}>{{category.name}}</h3>
                </legend>
                    <ul id={{category.name}} class={{class}}>
                        {{#each category.value as |repo|}}
                        <LinkTo @route="docs.doc" @model={{repo.name}}>
                            <li>{{repo.name}}</li>
                        </LinkTo>
                        {{/each}}
                    </ul>
            </fieldset>
        {{/each}}
        </aside>
    {{/each}}


    <article id="docview">
        {{outlet}}
    </article>
</main>